<h1>Here's yer crap, <%= current_user.name%></h1>

<% if current_user.albums.empty? %>
  <h3><a href="/albums/new">Get some damn records</a></h3>
<% end %>

<% unless current_user.albums.empty? %>
  <table layout="fixed" width=100%>
    <tr align="left">
      <th>Album</th>
      <th>Artist</th>
      <th>Release date</th>
      <th>Last spin</th>
    </tr>
    <% current_user.albums.each do |a| %>
    <tr>
      <td><a href='/albums/<%=a.id%>'><%=a.title%></a></td>
      <td><a href='/artists/<%=a.artist_id%>'><%=a.artist.name%></a></td>
      <td><%=a.rel_date%></td>
      <td><% if a.spins.empty? %>
            never played
          <% else %>  
            <%=a.spins.last.created_at.localtime.strftime("%e %b %Y")%>
          <% end %></td>
      <td><button><a href="album/<%=a.id%>/spin">Spin it!</a></button></td>
    </tr>
    <% end %>
  </table>
<% end %>
