<h1>ALL TEH RECORDS!</h1>


<% if @albums.empty? %>
  <h2><a href="www.discogs.com">Find some records!</a></h2>
  <h4>(This would be a great place to pull in Discogs' data dumps and populate the database, though it's better to just figure out the API)</h4>
<% else %>
  <table layout="fixed" width=100% >
    <tr align="left">
      <th><h2> Title<h2></th>
      <th><h4> Artist<h4></th>
      <th><h4> Release date<h4></th>
      <th><h4> In collection?</h4></th>
      <th><h4> Find on Discogs </h4></th>
    </tr>
    <% @albums.each do |a| %>
    <tr align="left">
      <td><a href="/albums/<%=a.id%>"><%=a.title%></td>
      <td><% if a.artist==nil %>
            <button><a href="albums/<%=a.id%>/edit">add</a></button>
          <% else %>
            <%=a.artist.name%></td>
          <% end %></td>
      <td><% if a.rel_date==nil %>
          <button><a href="albums/<%=a.id%>/edit">add</a></button>
          <% else %>
          <%=a.rel_date%></td>
          <% end %></td>
      <td><% if @fan && @fan.albums.include?(a) %>
            <h3>Got it!</he>
          <% else %>
            <button><a href="/albums/<%=a.id%>/add">Add</a></button>
            <% end%></td>
      <td><button>
          <% if a.alb_url %>
            <a href="http://www.discogs.com/<%=a.alb_url%>">See on Discogs.com</a>
          <% else %>
            <a href="http://www.discogs.com/search/?q=<%=a.title%>+<%=a.rel_id%>">See on Discogs.com</a>
          <% end %>
          </button></td>
    </tr>
    <% end %>
  </table>
<% end %>

<br></br>


