<h1><%=@album.title%></h1>

<h2>Artist: <%= @album.artist.name if @album.artist!=nil%></h2>


<% if @album.songs.empty? %>
  <h3><a href="/get-tracks/<%=@album.id%>">Get this album's tracks</a><h3>
<% else %>
  <h3>Songs: </h3>
  <% @album.songs.each_with_index do |s, i| %>
    <ul>
      <li><h3><%= "#{i+1}. #{s.title}"%></h3>
    </ul>
  <% end %>
<% end %>

<% if logged_in %>
  <% if @album.spins.empty? %>
    <button><a href="/albums/<%=@album.id%>/spin">Spin it!</a></button>
  <% else %>
    <table layout="fixed" width=50%>
      <tr align="left">
        <th><h4>spin count</h4></th>
        <th>Last Spun: </th>
      </tr>
      <tr>
        <td><%=@album.spins.count%></td>
        <td><%=@album.spins.last.created_at.localtime.strftime("%e %b %Y")%></td>
      </tr>
    </table>
  <%end%>
  <br></br>
  <button><a href="/albums/<%=@album.id%>/spin">Spin it again!</a></button>

  <button><a href="/albums/<%=@album.id%>/edit">Edit album</a></button>

  <form action="/albums/<%=@album.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button type="submit" name="delete">FUCKIT, I DON'T WANT THIS ONE ANYMORE</button>
  </form>
<% end %>

<br></br>



 



